[data-page="m_customer_add"][data-itemid="add_save"] > .btn {
  width: 100px;
}
[data-page="m_customer_add"][data-itemid="add_reset"] > .btn {
  width: 100px;
}
[data-page="m_customer_add"][data-itemid="add_back_list"] > .btn {
  width: 100px;
}
[data-page="m_customer_add"][data-itemid="add_cancel"] > .btn {
  width: 100px;
}
[data-page="m_customer_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


