[data-cellid="grid_headcell_checkbox"][data-page="m_disposition_inmail_list"][data-cellid="grid_headcell_checkbox"][data-page="m_disposition_inmail_list"][data-cellid="grid_headcell_checkbox"][data-page="m_disposition_inmail_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="m_disposition_inmail_list"][data-cellid="grid_headcell_icons"][data-page="m_disposition_inmail_list"][data-cellid="grid_headcell_icons"][data-page="m_disposition_inmail_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="m_disposition_inmail_list"][data-cellid="grid_cell_icons"][data-page="m_disposition_inmail_list"][data-cellid="grid_cell_icons"][data-page="m_disposition_inmail_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field"][data-page="m_disposition_inmail_list"][data-cellid="grid_footcell_field"][data-page="m_disposition_inmail_list"][data-cellid="grid_footcell_field"][data-page="m_disposition_inmail_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="m_disposition_inmail_list"][data-cellid="grid_footcell_field2"][data-page="m_disposition_inmail_list"][data-cellid="grid_footcell_field2"][data-page="m_disposition_inmail_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="m_disposition_inmail_list"][data-cellid="grid_footcell_field4"][data-page="m_disposition_inmail_list"][data-cellid="grid_footcell_field4"][data-page="m_disposition_inmail_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="m_disposition_inmail_list"][data-cellid="grid_footcell_field5"][data-page="m_disposition_inmail_list"][data-cellid="grid_footcell_field5"][data-page="m_disposition_inmail_list"] {
  white-space: nowrap;
}
[data-page="m_disposition_inmail_list"][data-itemid="simple_grid_field4"] {
  font-style: italic;
  font-size: 10px;
}
[data-page="m_disposition_inmail_list"][data-itemid="simple_grid_field6"] {
  font-style: italic;
  font-size: 10px;
}
[data-page="m_disposition_inmail_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


