[data-page="t_delivery_view"][data-itemid="view_back_list"] > .btn {
  width: 100px;
}
[data-page="t_delivery_view"][data-itemid="custom_button1"] > .btn {
  width: 100px;
}
[data-page="t_delivery_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


