[data-cellid="grid_footcell_field2"][data-page="t_invoice_det_list"][data-cellid="grid_footcell_field2"][data-page="t_invoice_det_list"][data-cellid="grid_footcell_field2"][data-page="t_invoice_det_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="t_invoice_det_list"][data-cellid="grid_footcell_field3"][data-page="t_invoice_det_list"][data-cellid="grid_footcell_field3"][data-page="t_invoice_det_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="t_invoice_det_list"][data-cellid="grid_footcell_field4"][data-page="t_invoice_det_list"][data-cellid="grid_footcell_field4"][data-page="t_invoice_det_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="t_invoice_det_list"][data-cellid="grid_footcell_field5"][data-page="t_invoice_det_list"][data-cellid="grid_footcell_field5"][data-page="t_invoice_det_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="t_invoice_det_list"][data-cellid="grid_headcell_checkbox"][data-page="t_invoice_det_list"][data-cellid="grid_headcell_checkbox"][data-page="t_invoice_det_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="t_invoice_det_list"][data-cellid="grid_headcell_icons"][data-page="t_invoice_det_list"][data-cellid="grid_headcell_icons"][data-page="t_invoice_det_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="t_invoice_det_list"][data-cellid="grid_cell_icons"][data-page="t_invoice_det_list"][data-cellid="grid_cell_icons"][data-page="t_invoice_det_list"] {
  white-space: nowrap;
}
[data-page="t_invoice_det_list"][data-itemid="add"] > .btn {
  width: 100px;
}
[data-page="t_invoice_det_list"][data-itemid="delete"] > .btn {
  width: 100px;
}
[data-page="t_invoice_det_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

.panel-info > .panel-heading .btn.btn-info:not(:hover)  {
    color: #fff;
    background-color: #BC9C22;
    border-color: transparent;
}
