[data-page="t_invoice_edit"][data-itemid="edit_save"] > .btn {
  width: 100px;
}
[data-page="t_invoice_edit"][data-itemid="edit_close"] > .btn {
  width: 100px;
}
[data-page="t_invoice_edit"][data-itemid="integrated_edit_field5"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field5"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field5"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field5"] {
  width: 70px;
}
[data-page="t_invoice_edit"][data-itemid="integrated_edit_field6"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field6"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field6"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field6"] {
  width: 70px;
}
[data-page="t_invoice_edit"][data-itemid="integrated_edit_field10"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field10"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field10"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field10"] {
  width: 130px;
}
[data-page="t_invoice_edit"][data-itemid="integrated_edit_field11"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field11"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field11"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field11"] {
  width: 130px;
}
[data-page="t_invoice_edit"][data-itemid="integrated_edit_field12"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field12"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field12"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field12"] {
  width: 200px;
}
[data-page="t_invoice_edit"][data-itemid="custom_button"] > .btn {
  width: 100px;
}
[data-page="t_invoice_edit"][data-itemid="integrated_edit_field14"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field14"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field14"][data-page="t_invoice_edit"][data-itemid="integrated_edit_field14"] {
  width: 200px;
}
[data-page="t_invoice_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


