[data-page="v1_dashboard"][data-itemid="dashboard-item"] > .r-box-right {
  background-color: #2780E3;
  background-image: none;
}
[data-page="v1_dashboard"][data-itemid="dashboard-item"] > .r-box-right {
  border-width: 3px;
  border-color: #2780E3;
}
[data-page="v1_dashboard"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


