<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel admin_users search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label admin_users id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN username_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_username}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="username{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="username" data-fieldname="username" >


	<label class="r-search-label control-label" for="{$labelfor_username}">
		{$label admin_users username }	</label>
	<div class="r-search-option">
		{$searchtype_username}
	</div>
	<div class="r-search-field">
		{$username_editcontrol}	</div>
	<div class="r-search-field">
		{$username_editcontrol1}
	</div>
	
</div>

{END username_fieldblock}
											
{BEGIN password_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_password}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="password{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="password" data-fieldname="password" >


	<label class="r-search-label control-label" for="{$labelfor_password}">
		{$label admin_users password }	</label>
	<div class="r-search-option">
		{$searchtype_password}
	</div>
	<div class="r-search-field">
		{$password_editcontrol}	</div>
	<div class="r-search-field">
		{$password_editcontrol1}
	</div>
	
</div>

{END password_fieldblock}
											
{BEGIN fullname_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fullname}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fullname{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="fullname" data-fieldname="fullname" >


	<label class="r-search-label control-label" for="{$labelfor_fullname}">
		{$label admin_users fullname }	</label>
	<div class="r-search-option">
		{$searchtype_fullname}
	</div>
	<div class="r-search-field">
		{$fullname_editcontrol}	</div>
	<div class="r-search-field">
		{$fullname_editcontrol1}
	</div>
	
</div>

{END fullname_fieldblock}
											
{BEGIN email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >


	<label class="r-search-label control-label" for="{$labelfor_email}">
		{$label admin_users email }	</label>
	<div class="r-search-option">
		{$searchtype_email}
	</div>
	<div class="r-search-field">
		{$email_editcontrol}	</div>
	<div class="r-search-field">
		{$email_editcontrol1}
	</div>
	
</div>

{END email_fieldblock}
											
{BEGIN isactive_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_isactive}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="isactive{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="isactive" data-fieldname="isactive" >


	<label class="r-search-label control-label" for="{$labelfor_isactive}">
		{$label admin_users isactive }	</label>
	<div class="r-search-option">
		{$searchtype_isactive}
	</div>
	<div class="r-search-field">
		{$isactive_editcontrol}	</div>
	<div class="r-search-field">
		{$isactive_editcontrol1}
	</div>
	
</div>

{END isactive_fieldblock}
											
{BEGIN add_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_add_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="add_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="add_user" data-fieldname="add_user" >


	<label class="r-search-label control-label" for="{$labelfor_add_user}">
		{$label admin_users add_user }	</label>
	<div class="r-search-option">
		{$searchtype_add_user}
	</div>
	<div class="r-search-field">
		{$add_user_editcontrol}	</div>
	<div class="r-search-field">
		{$add_user_editcontrol1}
	</div>
	
</div>

{END add_user_fieldblock}
											
{BEGIN add_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_add_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="add_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="add_date" data-fieldname="add_date" >


	<label class="r-search-label control-label" for="{$labelfor_add_date}">
		{$label admin_users add_date }	</label>
	<div class="r-search-option">
		{$searchtype_add_date}
	</div>
	<div class="r-search-field">
		{$add_date_editcontrol}	</div>
	<div class="r-search-field">
		{$add_date_editcontrol1}
	</div>
	
</div>

{END add_date_fieldblock}
											
{BEGIN edit_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_edit_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="edit_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="edit_user" data-fieldname="edit_user" >


	<label class="r-search-label control-label" for="{$labelfor_edit_user}">
		{$label admin_users edit_user }	</label>
	<div class="r-search-option">
		{$searchtype_edit_user}
	</div>
	<div class="r-search-field">
		{$edit_user_editcontrol}	</div>
	<div class="r-search-field">
		{$edit_user_editcontrol1}
	</div>
	
</div>

{END edit_user_fieldblock}
											
{BEGIN edit_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_edit_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="edit_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="edit_date" data-fieldname="edit_date" >


	<label class="r-search-label control-label" for="{$labelfor_edit_date}">
		{$label admin_users edit_date }	</label>
	<div class="r-search-option">
		{$searchtype_edit_date}
	</div>
	<div class="r-search-field">
		{$edit_date_editcontrol}	</div>
	<div class="r-search-field">
		{$edit_date_editcontrol1}
	</div>
	
</div>

{END edit_date_fieldblock}
											
{BEGIN ext_security_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ext_security_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ext_security_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="ext_security_id" data-fieldname="ext_security_id" >


	<label class="r-search-label control-label" for="{$labelfor_ext_security_id}">
		{$label admin_users ext_security_id }	</label>
	<div class="r-search-option">
		{$searchtype_ext_security_id}
	</div>
	<div class="r-search-field">
		{$ext_security_id_editcontrol}	</div>
	<div class="r-search-field">
		{$ext_security_id_editcontrol1}
	</div>
	
</div>

{END ext_security_id_fieldblock}
											
{BEGIN m_employee_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_m_employee_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="m_employee_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="m_employee_id" data-fieldname="m_employee_id" >


	<label class="r-search-label control-label" for="{$labelfor_m_employee_id}">
		{$label admin_users m_employee_id }	</label>
	<div class="r-search-option">
		{$searchtype_m_employee_id}
	</div>
	<div class="r-search-field">
		{$m_employee_id_editcontrol}	</div>
	<div class="r-search-field">
		{$m_employee_id_editcontrol1}
	</div>
	
</div>

{END m_employee_id_fieldblock}
											
{BEGIN last_login_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_last_login_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="last_login_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="last_login_date" data-fieldname="last_login_date" >


	<label class="r-search-label control-label" for="{$labelfor_last_login_date}">
		{$label admin_users last_login_date }	</label>
	<div class="r-search-option">
		{$searchtype_last_login_date}
	</div>
	<div class="r-search-field">
		{$last_login_date_editcontrol}	</div>
	<div class="r-search-field">
		{$last_login_date_editcontrol1}
	</div>
	
</div>

{END last_login_date_fieldblock}
											
{BEGIN apikey_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_apikey}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="apikey{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="apikey" data-fieldname="apikey" >


	<label class="r-search-label control-label" for="{$labelfor_apikey}">
		{$label admin_users apikey }	</label>
	<div class="r-search-option">
		{$searchtype_apikey}
	</div>
	<div class="r-search-field">
		{$apikey_editcontrol}	</div>
	<div class="r-search-field">
		{$apikey_editcontrol1}
	</div>
	
</div>

{END apikey_fieldblock}
											
{BEGIN is_active_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_active}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="is_active{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="is_active" data-fieldname="is_active" >


	<label class="r-search-label control-label" for="{$labelfor_is_active}">
		{$label admin_users is_active }	</label>
	<div class="r-search-option">
		{$searchtype_is_active}
	</div>
	<div class="r-search-field">
		{$is_active_editcontrol}	</div>
	<div class="r-search-field">
		{$is_active_editcontrol1}
	</div>
	
</div>

{END is_active_fieldblock}
											
{BEGIN is_delete_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_delete}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="is_delete{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="is_delete" data-fieldname="is_delete" >


	<label class="r-search-label control-label" for="{$labelfor_is_delete}">
		{$label admin_users is_delete }	</label>
	<div class="r-search-option">
		{$searchtype_is_delete}
	</div>
	<div class="r-search-field">
		{$is_delete_editcontrol}	</div>
	<div class="r-search-field">
		{$is_delete_editcontrol1}
	</div>
	
</div>

{END is_delete_fieldblock}
											
{BEGIN deleted_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_deleted_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="deleted_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="deleted_date" data-fieldname="deleted_date" >


	<label class="r-search-label control-label" for="{$labelfor_deleted_date}">
		{$label admin_users deleted_date }	</label>
	<div class="r-search-option">
		{$searchtype_deleted_date}
	</div>
	<div class="r-search-field">
		{$deleted_date_editcontrol}	</div>
	<div class="r-search-field">
		{$deleted_date_editcontrol1}
	</div>
	
</div>

{END deleted_date_fieldblock}
											
{BEGIN created_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="created_date" data-fieldname="created_date" >


	<label class="r-search-label control-label" for="{$labelfor_created_date}">
		{$label admin_users created_date }	</label>
	<div class="r-search-option">
		{$searchtype_created_date}
	</div>
	<div class="r-search-field">
		{$created_date_editcontrol}	</div>
	<div class="r-search-field">
		{$created_date_editcontrol1}
	</div>
	
</div>

{END created_date_fieldblock}
											
{BEGIN created_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="created_by" data-fieldname="created_by" >


	<label class="r-search-label control-label" for="{$labelfor_created_by}">
		{$label admin_users created_by }	</label>
	<div class="r-search-option">
		{$searchtype_created_by}
	</div>
	<div class="r-search-field">
		{$created_by_editcontrol}	</div>
	<div class="r-search-field">
		{$created_by_editcontrol1}
	</div>
	
</div>

{END created_by_fieldblock}
											
{BEGIN last_update_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_last_update_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="last_update_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="last_update_by" data-fieldname="last_update_by" >


	<label class="r-search-label control-label" for="{$labelfor_last_update_by}">
		{$label admin_users last_update_by }	</label>
	<div class="r-search-option">
		{$searchtype_last_update_by}
	</div>
	<div class="r-search-field">
		{$last_update_by_editcontrol}	</div>
	<div class="r-search-field">
		{$last_update_by_editcontrol1}
	</div>
	
</div>

{END last_update_by_fieldblock}
											
{BEGIN last_update_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_last_update_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="last_update_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="last_update_date" data-fieldname="last_update_date" >


	<label class="r-search-label control-label" for="{$labelfor_last_update_date}">
		{$label admin_users last_update_date }	</label>
	<div class="r-search-option">
		{$searchtype_last_update_date}
	</div>
	<div class="r-search-field">
		{$last_update_date_editcontrol}	</div>
	<div class="r-search-field">
		{$last_update_date_editcontrol1}
	</div>
	
</div>

{END last_update_date_fieldblock}
											
{BEGIN userpic_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_userpic}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="userpic{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="userpic" data-fieldname="userpic" >


	<label class="r-search-label control-label" for="{$labelfor_userpic}">
		{$label admin_users userpic }	</label>
	<div class="r-search-option">
		{$searchtype_userpic}
	</div>
	<div class="r-search-field">
		{$userpic_editcontrol}	</div>
	<div class="r-search-field">
		{$userpic_editcontrol1}
	</div>
	
</div>

{END userpic_fieldblock}
											
{BEGIN url_calender_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_url_calender}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="url_calender{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="url_calender" data-fieldname="url_calender" >


	<label class="r-search-label control-label" for="{$labelfor_url_calender}">
		{$label admin_users url_calender }	</label>
	<div class="r-search-option">
		{$searchtype_url_calender}
	</div>
	<div class="r-search-field">
		{$url_calender_editcontrol}	</div>
	<div class="r-search-field">
		{$url_calender_editcontrol1}
	</div>
	
</div>

{END url_calender_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
