<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel m_announcement search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN m_announcement_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_m_announcement}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="m_announcement{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="m_announcement" data-fieldname="m_announcement" >


	<label class="r-search-label control-label" for="{$labelfor_m_announcement}">
		{$label m_announcement m_announcement }	</label>
	<div class="r-search-option">
		{$searchtype_m_announcement}
	</div>
	<div class="r-search-field">
		{$m_announcement_editcontrol}	</div>
	<div class="r-search-field">
		{$m_announcement_editcontrol1}
	</div>
	
</div>

{END m_announcement_fieldblock}
											
{BEGIN announcement_subject_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_announcement_subject}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="announcement_subject{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="announcement_subject" data-fieldname="announcement_subject" >


	<label class="r-search-label control-label" for="{$labelfor_announcement_subject}">
		{$label m_announcement announcement_subject }	</label>
	<div class="r-search-option">
		{$searchtype_announcement_subject}
	</div>
	<div class="r-search-field">
		{$announcement_subject_editcontrol}	</div>
	<div class="r-search-field">
		{$announcement_subject_editcontrol1}
	</div>
	
</div>

{END announcement_subject_fieldblock}
											
{BEGIN announcement_desc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_announcement_desc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="announcement_desc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="announcement_desc" data-fieldname="announcement_desc" >


	<label class="r-search-label control-label" for="{$labelfor_announcement_desc}">
		{$label m_announcement announcement_desc }	</label>
	<div class="r-search-option">
		{$searchtype_announcement_desc}
	</div>
	<div class="r-search-field">
		{$announcement_desc_editcontrol}	</div>
	<div class="r-search-field">
		{$announcement_desc_editcontrol1}
	</div>
	
</div>

{END announcement_desc_fieldblock}
											
{BEGIN announcement_file_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_announcement_file}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="announcement_file{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="announcement_file" data-fieldname="announcement_file" >


	<label class="r-search-label control-label" for="{$labelfor_announcement_file}">
		{$label m_announcement announcement_file }	</label>
	<div class="r-search-option">
		{$searchtype_announcement_file}
	</div>
	<div class="r-search-field">
		{$announcement_file_editcontrol}	</div>
	<div class="r-search-field">
		{$announcement_file_editcontrol1}
	</div>
	
</div>

{END announcement_file_fieldblock}
											
{BEGIN announcement_images_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_announcement_images}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="announcement_images{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="announcement_images" data-fieldname="announcement_images" >


	<label class="r-search-label control-label" for="{$labelfor_announcement_images}">
		{$label m_announcement announcement_images }	</label>
	<div class="r-search-option">
		{$searchtype_announcement_images}
	</div>
	<div class="r-search-field">
		{$announcement_images_editcontrol}	</div>
	<div class="r-search-field">
		{$announcement_images_editcontrol1}
	</div>
	
</div>

{END announcement_images_fieldblock}
											
{BEGIN add_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_add_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="add_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="add_user" data-fieldname="add_user" >


	<label class="r-search-label control-label" for="{$labelfor_add_user}">
		{$label m_announcement add_user }	</label>
	<div class="r-search-option">
		{$searchtype_add_user}
	</div>
	<div class="r-search-field">
		{$add_user_editcontrol}	</div>
	<div class="r-search-field">
		{$add_user_editcontrol1}
	</div>
	
</div>

{END add_user_fieldblock}
											
{BEGIN add_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_add_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="add_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="add_date" data-fieldname="add_date" >


	<label class="r-search-label control-label" for="{$labelfor_add_date}">
		{$label m_announcement add_date }	</label>
	<div class="r-search-option">
		{$searchtype_add_date}
	</div>
	<div class="r-search-field">
		{$add_date_editcontrol}	</div>
	<div class="r-search-field">
		{$add_date_editcontrol1}
	</div>
	
</div>

{END add_date_fieldblock}
											
{BEGIN edit_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_edit_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="edit_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="edit_user" data-fieldname="edit_user" >


	<label class="r-search-label control-label" for="{$labelfor_edit_user}">
		{$label m_announcement edit_user }	</label>
	<div class="r-search-option">
		{$searchtype_edit_user}
	</div>
	<div class="r-search-field">
		{$edit_user_editcontrol}	</div>
	<div class="r-search-field">
		{$edit_user_editcontrol1}
	</div>
	
</div>

{END edit_user_fieldblock}
											
{BEGIN edit_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_edit_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="edit_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="edit_date" data-fieldname="edit_date" >


	<label class="r-search-label control-label" for="{$labelfor_edit_date}">
		{$label m_announcement edit_date }	</label>
	<div class="r-search-option">
		{$searchtype_edit_date}
	</div>
	<div class="r-search-field">
		{$edit_date_editcontrol}	</div>
	<div class="r-search-field">
		{$edit_date_editcontrol1}
	</div>
	
</div>

{END edit_date_fieldblock}
											
{BEGIN announcement_star_periode_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_announcement_star_periode}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="announcement_star_periode{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="announcement_star_periode" data-fieldname="announcement_star_periode" >


	<label class="r-search-label control-label" for="{$labelfor_announcement_star_periode}">
		{$label m_announcement announcement_star_periode }	</label>
	<div class="r-search-option">
		{$searchtype_announcement_star_periode}
	</div>
	<div class="r-search-field">
		{$announcement_star_periode_editcontrol}	</div>
	<div class="r-search-field">
		{$announcement_star_periode_editcontrol1}
	</div>
	
</div>

{END announcement_star_periode_fieldblock}
											
{BEGIN announcement_end_periode_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_announcement_end_periode}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="announcement_end_periode{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="announcement_end_periode" data-fieldname="announcement_end_periode" >


	<label class="r-search-label control-label" for="{$labelfor_announcement_end_periode}">
		{$label m_announcement announcement_end_periode }	</label>
	<div class="r-search-option">
		{$searchtype_announcement_end_periode}
	</div>
	<div class="r-search-field">
		{$announcement_end_periode_editcontrol}	</div>
	<div class="r-search-field">
		{$announcement_end_periode_editcontrol1}
	</div>
	
</div>

{END announcement_end_periode_fieldblock}
											
{BEGIN announcement_active_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_announcement_active}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="announcement_active{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="announcement_active" data-fieldname="announcement_active" >


	<label class="r-search-label control-label" for="{$labelfor_announcement_active}">
		{$label m_announcement announcement_active }	</label>
	<div class="r-search-option">
		{$searchtype_announcement_active}
	</div>
	<div class="r-search-field">
		{$announcement_active_editcontrol}	</div>
	<div class="r-search-field">
		{$announcement_active_editcontrol1}
	</div>
	
</div>

{END announcement_active_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
