<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel m_asuransi search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label m_asuransi id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN m_asuransi_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_m_asuransi_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="m_asuransi_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="m_asuransi_type" data-fieldname="m_asuransi_type" >


	<label class="r-search-label control-label" for="{$labelfor_m_asuransi_type}">
		{$label m_asuransi m_asuransi_type }	</label>
	<div class="r-search-option">
		{$searchtype_m_asuransi_type}
	</div>
	<div class="r-search-field">
		{$m_asuransi_type_editcontrol}	</div>
	<div class="r-search-field">
		{$m_asuransi_type_editcontrol1}
	</div>
	
</div>

{END m_asuransi_type_fieldblock}
											
{BEGIN m_asuransi_nama_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_m_asuransi_nama}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="m_asuransi_nama{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="m_asuransi_nama" data-fieldname="m_asuransi_nama" >


	<label class="r-search-label control-label" for="{$labelfor_m_asuransi_nama}">
		{$label m_asuransi m_asuransi_nama }	</label>
	<div class="r-search-option">
		{$searchtype_m_asuransi_nama}
	</div>
	<div class="r-search-field">
		{$m_asuransi_nama_editcontrol}	</div>
	<div class="r-search-field">
		{$m_asuransi_nama_editcontrol1}
	</div>
	
</div>

{END m_asuransi_nama_fieldblock}
											
{BEGIN m_asuransi_no_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_m_asuransi_no}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="m_asuransi_no{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="m_asuransi_no" data-fieldname="m_asuransi_no" >


	<label class="r-search-label control-label" for="{$labelfor_m_asuransi_no}">
		{$label m_asuransi m_asuransi_no }	</label>
	<div class="r-search-option">
		{$searchtype_m_asuransi_no}
	</div>
	<div class="r-search-field">
		{$m_asuransi_no_editcontrol}	</div>
	<div class="r-search-field">
		{$m_asuransi_no_editcontrol1}
	</div>
	
</div>

{END m_asuransi_no_fieldblock}
											
{BEGIN m_asuransi_tgl_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_m_asuransi_tgl}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="m_asuransi_tgl{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="m_asuransi_tgl" data-fieldname="m_asuransi_tgl" >


	<label class="r-search-label control-label" for="{$labelfor_m_asuransi_tgl}">
		{$label m_asuransi m_asuransi_tgl }	</label>
	<div class="r-search-option">
		{$searchtype_m_asuransi_tgl}
	</div>
	<div class="r-search-field">
		{$m_asuransi_tgl_editcontrol}	</div>
	<div class="r-search-field">
		{$m_asuransi_tgl_editcontrol1}
	</div>
	
</div>

{END m_asuransi_tgl_fieldblock}
											
{BEGIN m_asuransi_alamat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_m_asuransi_alamat}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="m_asuransi_alamat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="m_asuransi_alamat" data-fieldname="m_asuransi_alamat" >


	<label class="r-search-label control-label" for="{$labelfor_m_asuransi_alamat}">
		{$label m_asuransi m_asuransi_alamat }	</label>
	<div class="r-search-option">
		{$searchtype_m_asuransi_alamat}
	</div>
	<div class="r-search-field">
		{$m_asuransi_alamat_editcontrol}	</div>
	<div class="r-search-field">
		{$m_asuransi_alamat_editcontrol1}
	</div>
	
</div>

{END m_asuransi_alamat_fieldblock}
											
{BEGIN m_asuransi_tlp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_m_asuransi_tlp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="m_asuransi_tlp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="m_asuransi_tlp" data-fieldname="m_asuransi_tlp" >


	<label class="r-search-label control-label" for="{$labelfor_m_asuransi_tlp}">
		{$label m_asuransi m_asuransi_tlp }	</label>
	<div class="r-search-option">
		{$searchtype_m_asuransi_tlp}
	</div>
	<div class="r-search-field">
		{$m_asuransi_tlp_editcontrol}	</div>
	<div class="r-search-field">
		{$m_asuransi_tlp_editcontrol1}
	</div>
	
</div>

{END m_asuransi_tlp_fieldblock}
											
{BEGIN m_asuransi_fax_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_m_asuransi_fax}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="m_asuransi_fax{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="m_asuransi_fax" data-fieldname="m_asuransi_fax" >


	<label class="r-search-label control-label" for="{$labelfor_m_asuransi_fax}">
		{$label m_asuransi m_asuransi_fax }	</label>
	<div class="r-search-option">
		{$searchtype_m_asuransi_fax}
	</div>
	<div class="r-search-field">
		{$m_asuransi_fax_editcontrol}	</div>
	<div class="r-search-field">
		{$m_asuransi_fax_editcontrol1}
	</div>
	
</div>

{END m_asuransi_fax_fieldblock}
											
{BEGIN m_asuransi_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_m_asuransi_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="m_asuransi_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="m_asuransi_email" data-fieldname="m_asuransi_email" >


	<label class="r-search-label control-label" for="{$labelfor_m_asuransi_email}">
		{$label m_asuransi m_asuransi_email }	</label>
	<div class="r-search-option">
		{$searchtype_m_asuransi_email}
	</div>
	<div class="r-search-field">
		{$m_asuransi_email_editcontrol}	</div>
	<div class="r-search-field">
		{$m_asuransi_email_editcontrol1}
	</div>
	
</div>

{END m_asuransi_email_fieldblock}
											
{BEGIN m_asuransi_fl_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_m_asuransi_fl}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="m_asuransi_fl{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="m_asuransi_fl" data-fieldname="m_asuransi_fl" >


	<label class="r-search-label control-label" for="{$labelfor_m_asuransi_fl}">
		{$label m_asuransi m_asuransi_fl }	</label>
	<div class="r-search-option">
		{$searchtype_m_asuransi_fl}
	</div>
	<div class="r-search-field">
		{$m_asuransi_fl_editcontrol}	</div>
	<div class="r-search-field">
		{$m_asuransi_fl_editcontrol1}
	</div>
	
</div>

{END m_asuransi_fl_fieldblock}
											
{BEGIN is_active_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_active}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="is_active{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="is_active" data-fieldname="is_active" >


	<label class="r-search-label control-label" for="{$labelfor_is_active}">
		{$label m_asuransi is_active }	</label>
	<div class="r-search-option">
		{$searchtype_is_active}
	</div>
	<div class="r-search-field">
		{$is_active_editcontrol}	</div>
	<div class="r-search-field">
		{$is_active_editcontrol1}
	</div>
	
</div>

{END is_active_fieldblock}
											
{BEGIN is_delete_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_delete}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="is_delete{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="is_delete" data-fieldname="is_delete" >


	<label class="r-search-label control-label" for="{$labelfor_is_delete}">
		{$label m_asuransi is_delete }	</label>
	<div class="r-search-option">
		{$searchtype_is_delete}
	</div>
	<div class="r-search-field">
		{$is_delete_editcontrol}	</div>
	<div class="r-search-field">
		{$is_delete_editcontrol1}
	</div>
	
</div>

{END is_delete_fieldblock}
											
{BEGIN deleted_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_deleted_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="deleted_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="deleted_date" data-fieldname="deleted_date" >


	<label class="r-search-label control-label" for="{$labelfor_deleted_date}">
		{$label m_asuransi deleted_date }	</label>
	<div class="r-search-option">
		{$searchtype_deleted_date}
	</div>
	<div class="r-search-field">
		{$deleted_date_editcontrol}	</div>
	<div class="r-search-field">
		{$deleted_date_editcontrol1}
	</div>
	
</div>

{END deleted_date_fieldblock}
											
{BEGIN created_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="created_date" data-fieldname="created_date" >


	<label class="r-search-label control-label" for="{$labelfor_created_date}">
		{$label m_asuransi created_date }	</label>
	<div class="r-search-option">
		{$searchtype_created_date}
	</div>
	<div class="r-search-field">
		{$created_date_editcontrol}	</div>
	<div class="r-search-field">
		{$created_date_editcontrol1}
	</div>
	
</div>

{END created_date_fieldblock}
											
{BEGIN created_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="created_by" data-fieldname="created_by" >


	<label class="r-search-label control-label" for="{$labelfor_created_by}">
		{$label m_asuransi created_by }	</label>
	<div class="r-search-option">
		{$searchtype_created_by}
	</div>
	<div class="r-search-field">
		{$created_by_editcontrol}	</div>
	<div class="r-search-field">
		{$created_by_editcontrol1}
	</div>
	
</div>

{END created_by_fieldblock}
											
{BEGIN last_update_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_last_update_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="last_update_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="last_update_by" data-fieldname="last_update_by" >


	<label class="r-search-label control-label" for="{$labelfor_last_update_by}">
		{$label m_asuransi last_update_by }	</label>
	<div class="r-search-option">
		{$searchtype_last_update_by}
	</div>
	<div class="r-search-field">
		{$last_update_by_editcontrol}	</div>
	<div class="r-search-field">
		{$last_update_by_editcontrol1}
	</div>
	
</div>

{END last_update_by_fieldblock}
											
{BEGIN last_update_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_last_update_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="last_update_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="last_update_date" data-fieldname="last_update_date" >


	<label class="r-search-label control-label" for="{$labelfor_last_update_date}">
		{$label m_asuransi last_update_date }	</label>
	<div class="r-search-option">
		{$searchtype_last_update_date}
	</div>
	<div class="r-search-field">
		{$last_update_date_editcontrol}	</div>
	<div class="r-search-field">
		{$last_update_date_editcontrol1}
	</div>
	
</div>

{END last_update_date_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
