<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="2"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel m_disposition add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="2"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section" {$item_section} data-pageid="{$pageid}" data-page="m_disposition_add">
		<div class="panel-heading" role="tab" {$section_section1_headattrs} 
			data-toggle="collapse"  

				href="#section1{$pageid}" aria-expanded="true" aria-controls="section1"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				New Section			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section1_xtrclass}" role="tabpanel"  {$section_section1_attrs}

				id="section1{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="small" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="3"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN t_disposition_status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_t_disposition_status}  r-vertical-field" 
	data-signal-error-for="t_disposition_status{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="t_disposition_status" data-fieldname="t_disposition_status" >

	<label class="r-edit-label control-label" for="{$labelfor_t_disposition_status}">
		{BEGIN t_disposition_status_label}{$label m_disposition t_disposition_status }{END t_disposition_status_label}
	</label>
	<div class="r-edit-field">
		{$t_disposition_status_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="t_disposition_status">
		<div class="text-muted" >
		{$tooltip m_disposition t_disposition_status }		</div>
	</div>
</div>


{END t_disposition_status_fieldblock}
	
								</td>
			{END cellblock_section_c1}
			 
		
							

{BEGIN cellblock_section_c2}
<td
	{$cell_section_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c2" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section_c2}
								</tr>
	 
	 
														<tr {$row_section_1} >
										

{BEGIN cellblock_section_c6}
<td
	{$cell_section_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN t_disposition_to_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_t_disposition_to}  r-vertical-field" 
	data-signal-error-for="t_disposition_to{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="t_disposition_to" data-fieldname="t_disposition_to" >

	<label class="r-edit-label control-label" for="{$labelfor_t_disposition_to}">
		{BEGIN t_disposition_to_label}{$label m_disposition t_disposition_to }{END t_disposition_to_label}
	</label>
	<div class="r-edit-field">
		{$t_disposition_to_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="t_disposition_to">
		<div class="text-muted" >
		{$tooltip m_disposition t_disposition_to }		</div>
	</div>
</div>


{END t_disposition_to_fieldblock}
	
								</td>
			{END cellblock_section_c6}
			 
		
							

{BEGIN cellblock_section_c7}
<td
	{$cell_section_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c7" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section_c7}
								</tr>
	 
	 
														<tr {$row_section_2} >
										

{BEGIN cellblock_section_c4}
<td
	{$cell_section_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN t_disposition_desc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_t_disposition_desc}  r-vertical-field" 
	data-signal-error-for="t_disposition_desc{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="t_disposition_desc" data-fieldname="t_disposition_desc" >

	<label class="r-edit-label control-label" for="{$labelfor_t_disposition_desc}">
		{BEGIN t_disposition_desc_label}{$label m_disposition t_disposition_desc }{END t_disposition_desc_label}
	</label>
	<div class="r-edit-field">
		{$t_disposition_desc_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="t_disposition_desc">
		<div class="text-muted" >
		{$tooltip m_disposition t_disposition_desc }		</div>
	</div>
</div>


{END t_disposition_desc_fieldblock}
	
								</td>
			{END cellblock_section_c4}
			 
		
							

{BEGIN cellblock_section_c5}
<td
	{$cell_section_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c5" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section_c5}
								</tr>
	 
	 
														<tr {$row_section_3} >
										

{BEGIN cellblock_section_c}
<td
	{$cell_section_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN t_disposition_from_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_t_disposition_from}  r-vertical-field" 
	data-signal-error-for="t_disposition_from{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="t_disposition_from" data-fieldname="t_disposition_from" >

	<label class="r-edit-label control-label" for="{$labelfor_t_disposition_from}">
		{BEGIN t_disposition_from_label}{$label m_disposition t_disposition_from }{END t_disposition_from_label}
	</label>
	<div class="r-edit-field">
		{$t_disposition_from_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="t_disposition_from">
		<div class="text-muted" >
		{$tooltip m_disposition t_disposition_from }		</div>
	</div>
</div>


{END t_disposition_from_fieldblock}
	
								</td>
			{END cellblock_section_c}
			 
		
							

{BEGIN cellblock_section_c3}
<td
	{$cell_section_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c3" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section_c3}
								</tr>
			</tbody></table>
{END section_block}
		  </div>
		</div>
	</div>
	
				{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="2"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
