<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel m_producer search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label m_producer id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN producer_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_producer_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="producer_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="producer_name" data-fieldname="producer_name" >


	<label class="r-search-label control-label" for="{$labelfor_producer_name}">
		{$label m_producer producer_name }	</label>
	<div class="r-search-option">
		{$searchtype_producer_name}
	</div>
	<div class="r-search-field">
		{$producer_name_editcontrol}	</div>
	<div class="r-search-field">
		{$producer_name_editcontrol1}
	</div>
	
</div>

{END producer_name_fieldblock}
											
{BEGIN producer_category_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_producer_category_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="producer_category_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="producer_category_id" data-fieldname="producer_category_id" >


	<label class="r-search-label control-label" for="{$labelfor_producer_category_id}">
		{$label m_producer producer_category_id }	</label>
	<div class="r-search-option">
		{$searchtype_producer_category_id}
	</div>
	<div class="r-search-field">
		{$producer_category_id_editcontrol}	</div>
	<div class="r-search-field">
		{$producer_category_id_editcontrol1}
	</div>
	
</div>

{END producer_category_id_fieldblock}
											
{BEGIN producer_type_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_producer_type_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="producer_type_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="producer_type_id" data-fieldname="producer_type_id" >


	<label class="r-search-label control-label" for="{$labelfor_producer_type_id}">
		{$label m_producer producer_type_id }	</label>
	<div class="r-search-option">
		{$searchtype_producer_type_id}
	</div>
	<div class="r-search-field">
		{$producer_type_id_editcontrol}	</div>
	<div class="r-search-field">
		{$producer_type_id_editcontrol1}
	</div>
	
</div>

{END producer_type_id_fieldblock}
											
{BEGIN producer_domestic_type_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_producer_domestic_type_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="producer_domestic_type_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="producer_domestic_type_id" data-fieldname="producer_domestic_type_id" >


	<label class="r-search-label control-label" for="{$labelfor_producer_domestic_type_id}">
		{$label m_producer producer_domestic_type_id }	</label>
	<div class="r-search-option">
		{$searchtype_producer_domestic_type_id}
	</div>
	<div class="r-search-field">
		{$producer_domestic_type_id_editcontrol}	</div>
	<div class="r-search-field">
		{$producer_domestic_type_id_editcontrol1}
	</div>
	
</div>

{END producer_domestic_type_id_fieldblock}
											
{BEGIN producer_overseas_type_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_producer_overseas_type_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="producer_overseas_type_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="producer_overseas_type_id" data-fieldname="producer_overseas_type_id" >


	<label class="r-search-label control-label" for="{$labelfor_producer_overseas_type_id}">
		{$label m_producer producer_overseas_type_id }	</label>
	<div class="r-search-option">
		{$searchtype_producer_overseas_type_id}
	</div>
	<div class="r-search-field">
		{$producer_overseas_type_id_editcontrol}	</div>
	<div class="r-search-field">
		{$producer_overseas_type_id_editcontrol1}
	</div>
	
</div>

{END producer_overseas_type_id_fieldblock}
											
{BEGIN producer_network_association_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_producer_network_association}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="producer_network_association{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="producer_network_association" data-fieldname="producer_network_association" >


	<label class="r-search-label control-label" for="{$labelfor_producer_network_association}">
		{$label m_producer producer_network_association }	</label>
	<div class="r-search-option">
		{$searchtype_producer_network_association}
	</div>
	<div class="r-search-field">
		{$producer_network_association_editcontrol}	</div>
	<div class="r-search-field">
		{$producer_network_association_editcontrol1}
	</div>
	
</div>

{END producer_network_association_fieldblock}
											
{BEGIN producer_network_company_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_producer_network_company_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="producer_network_company_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="producer_network_company_name" data-fieldname="producer_network_company_name" >


	<label class="r-search-label control-label" for="{$labelfor_producer_network_company_name}">
		{$label m_producer producer_network_company_name }	</label>
	<div class="r-search-option">
		{$searchtype_producer_network_company_name}
	</div>
	<div class="r-search-field">
		{$producer_network_company_name_editcontrol}	</div>
	<div class="r-search-field">
		{$producer_network_company_name_editcontrol1}
	</div>
	
</div>

{END producer_network_company_name_fieldblock}
											
{BEGIN producer_gender_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_producer_gender}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="producer_gender{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="producer_gender" data-fieldname="producer_gender" >


	<label class="r-search-label control-label" for="{$labelfor_producer_gender}">
		{$label m_producer producer_gender }	</label>
	<div class="r-search-option">
		{$searchtype_producer_gender}
	</div>
	<div class="r-search-field">
		{$producer_gender_editcontrol}	</div>
	<div class="r-search-field">
		{$producer_gender_editcontrol1}
	</div>
	
</div>

{END producer_gender_fieldblock}
											
{BEGIN dob_place_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dob_place}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dob_place{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="dob_place" data-fieldname="dob_place" >


	<label class="r-search-label control-label" for="{$labelfor_dob_place}">
		{$label m_producer dob_place }	</label>
	<div class="r-search-option">
		{$searchtype_dob_place}
	</div>
	<div class="r-search-field">
		{$dob_place_editcontrol}	</div>
	<div class="r-search-field">
		{$dob_place_editcontrol1}
	</div>
	
</div>

{END dob_place_fieldblock}
											
{BEGIN dob_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dob_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dob_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="dob_date" data-fieldname="dob_date" >


	<label class="r-search-label control-label" for="{$labelfor_dob_date}">
		{$label m_producer dob_date }	</label>
	<div class="r-search-option">
		{$searchtype_dob_date}
	</div>
	<div class="r-search-field">
		{$dob_date_editcontrol}	</div>
	<div class="r-search-field">
		{$dob_date_editcontrol1}
	</div>
	
</div>

{END dob_date_fieldblock}
											
{BEGIN address_street_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_address_street}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="address_street{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="address_street" data-fieldname="address_street" >


	<label class="r-search-label control-label" for="{$labelfor_address_street}">
		{$label m_producer address_street }	</label>
	<div class="r-search-option">
		{$searchtype_address_street}
	</div>
	<div class="r-search-field">
		{$address_street_editcontrol}	</div>
	<div class="r-search-field">
		{$address_street_editcontrol1}
	</div>
	
</div>

{END address_street_fieldblock}
											
{BEGIN address_description_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_address_description}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="address_description{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="address_description" data-fieldname="address_description" >


	<label class="r-search-label control-label" for="{$labelfor_address_description}">
		{$label m_producer address_description }	</label>
	<div class="r-search-option">
		{$searchtype_address_description}
	</div>
	<div class="r-search-field">
		{$address_description_editcontrol}	</div>
	<div class="r-search-field">
		{$address_description_editcontrol1}
	</div>
	
</div>

{END address_description_fieldblock}
											
{BEGIN address_postal_code_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_address_postal_code}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="address_postal_code{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="address_postal_code" data-fieldname="address_postal_code" >


	<label class="r-search-label control-label" for="{$labelfor_address_postal_code}">
		{$label m_producer address_postal_code }	</label>
	<div class="r-search-option">
		{$searchtype_address_postal_code}
	</div>
	<div class="r-search-field">
		{$address_postal_code_editcontrol}	</div>
	<div class="r-search-field">
		{$address_postal_code_editcontrol1}
	</div>
	
</div>

{END address_postal_code_fieldblock}
											
{BEGIN address_region_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_address_region_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="address_region_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="address_region_id" data-fieldname="address_region_id" >


	<label class="r-search-label control-label" for="{$labelfor_address_region_id}">
		{$label m_producer address_region_id }	</label>
	<div class="r-search-option">
		{$searchtype_address_region_id}
	</div>
	<div class="r-search-field">
		{$address_region_id_editcontrol}	</div>
	<div class="r-search-field">
		{$address_region_id_editcontrol1}
	</div>
	
</div>

{END address_region_id_fieldblock}
											
{BEGIN address_city_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_address_city_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="address_city_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="address_city_id" data-fieldname="address_city_id" >


	<label class="r-search-label control-label" for="{$labelfor_address_city_id}">
		{$label m_producer address_city_id }	</label>
	<div class="r-search-option">
		{$searchtype_address_city_id}
	</div>
	<div class="r-search-field">
		{$address_city_id_editcontrol}	</div>
	<div class="r-search-field">
		{$address_city_id_editcontrol1}
	</div>
	
</div>

{END address_city_id_fieldblock}
											
{BEGIN address_province_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_address_province_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="address_province_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="address_province_id" data-fieldname="address_province_id" >


	<label class="r-search-label control-label" for="{$labelfor_address_province_id}">
		{$label m_producer address_province_id }	</label>
	<div class="r-search-option">
		{$searchtype_address_province_id}
	</div>
	<div class="r-search-field">
		{$address_province_id_editcontrol}	</div>
	<div class="r-search-field">
		{$address_province_id_editcontrol1}
	</div>
	
</div>

{END address_province_id_fieldblock}
											
{BEGIN address_country_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_address_country_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="address_country_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="address_country_id" data-fieldname="address_country_id" >


	<label class="r-search-label control-label" for="{$labelfor_address_country_id}">
		{$label m_producer address_country_id }	</label>
	<div class="r-search-option">
		{$searchtype_address_country_id}
	</div>
	<div class="r-search-field">
		{$address_country_id_editcontrol}	</div>
	<div class="r-search-field">
		{$address_country_id_editcontrol1}
	</div>
	
</div>

{END address_country_id_fieldblock}
											
{BEGIN establishment_country_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_establishment_country_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="establishment_country_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="establishment_country_id" data-fieldname="establishment_country_id" >


	<label class="r-search-label control-label" for="{$labelfor_establishment_country_id}">
		{$label m_producer establishment_country_id }	</label>
	<div class="r-search-option">
		{$searchtype_establishment_country_id}
	</div>
	<div class="r-search-field">
		{$establishment_country_id_editcontrol}	</div>
	<div class="r-search-field">
		{$establishment_country_id_editcontrol1}
	</div>
	
</div>

{END establishment_country_id_fieldblock}
											
{BEGIN establishment_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_establishment_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="establishment_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="establishment_date" data-fieldname="establishment_date" >


	<label class="r-search-label control-label" for="{$labelfor_establishment_date}">
		{$label m_producer establishment_date }	</label>
	<div class="r-search-option">
		{$searchtype_establishment_date}
	</div>
	<div class="r-search-field">
		{$establishment_date_editcontrol}	</div>
	<div class="r-search-field">
		{$establishment_date_editcontrol1}
	</div>
	
</div>

{END establishment_date_fieldblock}
											
{BEGIN licence_nib_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_licence_nib}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="licence_nib{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="licence_nib" data-fieldname="licence_nib" >


	<label class="r-search-label control-label" for="{$labelfor_licence_nib}">
		{$label m_producer licence_nib }	</label>
	<div class="r-search-option">
		{$searchtype_licence_nib}
	</div>
	<div class="r-search-field">
		{$licence_nib_editcontrol}	</div>
	<div class="r-search-field">
		{$licence_nib_editcontrol1}
	</div>
	
</div>

{END licence_nib_fieldblock}
											
{BEGIN tax_number_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tax_number}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tax_number{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="tax_number" data-fieldname="tax_number" >


	<label class="r-search-label control-label" for="{$labelfor_tax_number}">
		{$label m_producer tax_number }	</label>
	<div class="r-search-option">
		{$searchtype_tax_number}
	</div>
	<div class="r-search-field">
		{$tax_number_editcontrol}	</div>
	<div class="r-search-field">
		{$tax_number_editcontrol1}
	</div>
	
</div>

{END tax_number_fieldblock}
											
{BEGIN tax_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tax_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tax_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="tax_name" data-fieldname="tax_name" >


	<label class="r-search-label control-label" for="{$labelfor_tax_name}">
		{$label m_producer tax_name }	</label>
	<div class="r-search-option">
		{$searchtype_tax_name}
	</div>
	<div class="r-search-field">
		{$tax_name_editcontrol}	</div>
	<div class="r-search-field">
		{$tax_name_editcontrol1}
	</div>
	
</div>

{END tax_name_fieldblock}
											
{BEGIN pic_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pic_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pic_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="pic_name" data-fieldname="pic_name" >


	<label class="r-search-label control-label" for="{$labelfor_pic_name}">
		{$label m_producer pic_name }	</label>
	<div class="r-search-option">
		{$searchtype_pic_name}
	</div>
	<div class="r-search-field">
		{$pic_name_editcontrol}	</div>
	<div class="r-search-field">
		{$pic_name_editcontrol1}
	</div>
	
</div>

{END pic_name_fieldblock}
											
{BEGIN pic_phone_number_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pic_phone_number}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pic_phone_number{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="pic_phone_number" data-fieldname="pic_phone_number" >


	<label class="r-search-label control-label" for="{$labelfor_pic_phone_number}">
		{$label m_producer pic_phone_number }	</label>
	<div class="r-search-option">
		{$searchtype_pic_phone_number}
	</div>
	<div class="r-search-field">
		{$pic_phone_number_editcontrol}	</div>
	<div class="r-search-field">
		{$pic_phone_number_editcontrol1}
	</div>
	
</div>

{END pic_phone_number_fieldblock}
											
{BEGIN agreement_number_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_agreement_number}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="agreement_number{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="agreement_number" data-fieldname="agreement_number" >


	<label class="r-search-label control-label" for="{$labelfor_agreement_number}">
		{$label m_producer agreement_number }	</label>
	<div class="r-search-option">
		{$searchtype_agreement_number}
	</div>
	<div class="r-search-field">
		{$agreement_number_editcontrol}	</div>
	<div class="r-search-field">
		{$agreement_number_editcontrol1}
	</div>
	
</div>

{END agreement_number_fieldblock}
											
{BEGIN agreement_period_start_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_agreement_period_start}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="agreement_period_start{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="agreement_period_start" data-fieldname="agreement_period_start" >


	<label class="r-search-label control-label" for="{$labelfor_agreement_period_start}">
		{$label m_producer agreement_period_start }	</label>
	<div class="r-search-option">
		{$searchtype_agreement_period_start}
	</div>
	<div class="r-search-field">
		{$agreement_period_start_editcontrol}	</div>
	<div class="r-search-field">
		{$agreement_period_start_editcontrol1}
	</div>
	
</div>

{END agreement_period_start_fieldblock}
											
{BEGIN agreement_period_end_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_agreement_period_end}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="agreement_period_end{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="agreement_period_end" data-fieldname="agreement_period_end" >


	<label class="r-search-label control-label" for="{$labelfor_agreement_period_end}">
		{$label m_producer agreement_period_end }	</label>
	<div class="r-search-option">
		{$searchtype_agreement_period_end}
	</div>
	<div class="r-search-field">
		{$agreement_period_end_editcontrol}	</div>
	<div class="r-search-field">
		{$agreement_period_end_editcontrol1}
	</div>
	
</div>

{END agreement_period_end_fieldblock}
											
{BEGIN bank_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bank_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="bank_id" data-fieldname="bank_id" >


	<label class="r-search-label control-label" for="{$labelfor_bank_id}">
		{$label m_producer bank_id }	</label>
	<div class="r-search-option">
		{$searchtype_bank_id}
	</div>
	<div class="r-search-field">
		{$bank_id_editcontrol}	</div>
	<div class="r-search-field">
		{$bank_id_editcontrol1}
	</div>
	
</div>

{END bank_id_fieldblock}
											
{BEGIN bank_swift_code_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_swift_code}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bank_swift_code{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="bank_swift_code" data-fieldname="bank_swift_code" >


	<label class="r-search-label control-label" for="{$labelfor_bank_swift_code}">
		{$label m_producer bank_swift_code }	</label>
	<div class="r-search-option">
		{$searchtype_bank_swift_code}
	</div>
	<div class="r-search-field">
		{$bank_swift_code_editcontrol}	</div>
	<div class="r-search-field">
		{$bank_swift_code_editcontrol1}
	</div>
	
</div>

{END bank_swift_code_fieldblock}
											
{BEGIN bank_account_number_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_account_number}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bank_account_number{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="bank_account_number" data-fieldname="bank_account_number" >


	<label class="r-search-label control-label" for="{$labelfor_bank_account_number}">
		{$label m_producer bank_account_number }	</label>
	<div class="r-search-option">
		{$searchtype_bank_account_number}
	</div>
	<div class="r-search-field">
		{$bank_account_number_editcontrol}	</div>
	<div class="r-search-field">
		{$bank_account_number_editcontrol1}
	</div>
	
</div>

{END bank_account_number_fieldblock}
											
{BEGIN is_active_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_active}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="is_active{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="is_active" data-fieldname="is_active" >


	<label class="r-search-label control-label" for="{$labelfor_is_active}">
		{$label m_producer is_active }	</label>
	<div class="r-search-option">
		{$searchtype_is_active}
	</div>
	<div class="r-search-field">
		{$is_active_editcontrol}	</div>
	<div class="r-search-field">
		{$is_active_editcontrol1}
	</div>
	
</div>

{END is_active_fieldblock}
											
{BEGIN is_delete_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_delete}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="is_delete{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="is_delete" data-fieldname="is_delete" >


	<label class="r-search-label control-label" for="{$labelfor_is_delete}">
		{$label m_producer is_delete }	</label>
	<div class="r-search-option">
		{$searchtype_is_delete}
	</div>
	<div class="r-search-field">
		{$is_delete_editcontrol}	</div>
	<div class="r-search-field">
		{$is_delete_editcontrol1}
	</div>
	
</div>

{END is_delete_fieldblock}
											
{BEGIN deleted_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_deleted_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="deleted_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="deleted_date" data-fieldname="deleted_date" >


	<label class="r-search-label control-label" for="{$labelfor_deleted_date}">
		{$label m_producer deleted_date }	</label>
	<div class="r-search-option">
		{$searchtype_deleted_date}
	</div>
	<div class="r-search-field">
		{$deleted_date_editcontrol}	</div>
	<div class="r-search-field">
		{$deleted_date_editcontrol1}
	</div>
	
</div>

{END deleted_date_fieldblock}
											
{BEGIN created_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="created_by" data-fieldname="created_by" >


	<label class="r-search-label control-label" for="{$labelfor_created_by}">
		{$label m_producer created_by }	</label>
	<div class="r-search-option">
		{$searchtype_created_by}
	</div>
	<div class="r-search-field">
		{$created_by_editcontrol}	</div>
	<div class="r-search-field">
		{$created_by_editcontrol1}
	</div>
	
</div>

{END created_by_fieldblock}
											
{BEGIN created_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="created_date" data-fieldname="created_date" >


	<label class="r-search-label control-label" for="{$labelfor_created_date}">
		{$label m_producer created_date }	</label>
	<div class="r-search-option">
		{$searchtype_created_date}
	</div>
	<div class="r-search-field">
		{$created_date_editcontrol}	</div>
	<div class="r-search-field">
		{$created_date_editcontrol1}
	</div>
	
</div>

{END created_date_fieldblock}
											
{BEGIN last_update_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_last_update_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="last_update_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="last_update_by" data-fieldname="last_update_by" >


	<label class="r-search-label control-label" for="{$labelfor_last_update_by}">
		{$label m_producer last_update_by }	</label>
	<div class="r-search-option">
		{$searchtype_last_update_by}
	</div>
	<div class="r-search-field">
		{$last_update_by_editcontrol}	</div>
	<div class="r-search-field">
		{$last_update_by_editcontrol1}
	</div>
	
</div>

{END last_update_by_fieldblock}
											
{BEGIN last_update_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_last_update_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="last_update_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="last_update_date" data-fieldname="last_update_date" >


	<label class="r-search-label control-label" for="{$labelfor_last_update_date}">
		{$label m_producer last_update_date }	</label>
	<div class="r-search-option">
		{$searchtype_last_update_date}
	</div>
	<div class="r-search-field">
		{$last_update_date_editcontrol}	</div>
	<div class="r-search-field">
		{$last_update_date_editcontrol1}
	</div>
	
</div>

{END last_update_date_fieldblock}
											
{BEGIN user_id_tsun_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_user_id_tsun}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="user_id_tsun{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="user_id_tsun" data-fieldname="user_id_tsun" >


	<label class="r-search-label control-label" for="{$labelfor_user_id_tsun}">
		{$label m_producer user_id_tsun }	</label>
	<div class="r-search-option">
		{$searchtype_user_id_tsun}
	</div>
	<div class="r-search-field">
		{$user_id_tsun_editcontrol}	</div>
	<div class="r-search-field">
		{$user_id_tsun_editcontrol1}
	</div>
	
</div>

{END user_id_tsun_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
