<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="full">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section" {$item_section} data-pageid="{$pageid}" data-page="t_letter_add">
		<div class="panel-heading" role="tab" {$section_section1_headattrs} 
			data-toggle="collapse"  

				href="#section1{$pageid}" aria-expanded="true" aria-controls="section1"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Letter Type Parameter			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section1_xtrclass}" role="tabpanel"  {$section_section1_attrs}

				id="section1{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section" id="form_section_{$pageid}" data-makeup="leftbar" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="9"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN t_letter_no_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_t_letter_no}  r-horizontal-field form-horizontal" 
	data-signal-error-for="t_letter_no{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="t_letter_no" data-fieldname="t_letter_no" >

	<label class="r-edit-label control-label" for="{$labelfor_t_letter_no}">
		{BEGIN t_letter_no_label}{$label t_letter t_letter_no }{END t_letter_no_label}
	</label>
	<div class="r-edit-field">
		{$t_letter_no_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="t_letter_no">
		<div class="text-muted" >
		{$tooltip t_letter t_letter_no }		</div>
	</div>
</div>


{END t_letter_no_fieldblock}
	
								</td>
			{END cellblock_section_c1}
			 
																

{BEGIN cellblock_section_c2}
<td
	{$cell_section_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c2" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN letter_reg_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_letter_reg_date}  r-horizontal-field form-horizontal" 
	data-signal-error-for="letter_reg_date{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="letter_reg_date" data-fieldname="letter_reg_date" >

	<label class="r-edit-label control-label" for="{$labelfor_letter_reg_date}">
		{BEGIN letter_reg_date_label}{$label t_letter letter_reg_date }{END letter_reg_date_label}
	</label>
	<div class="r-edit-field">
		{$letter_reg_date_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="letter_reg_date">
		<div class="text-muted" >
		{$tooltip t_letter letter_reg_date }		</div>
	</div>
</div>


{END letter_reg_date_fieldblock}
	
								</td>
			{END cellblock_section_c2}
			 
																

{BEGIN cellblock_section_c}
<td
	{$cell_section_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN add_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_add_user}  r-horizontal-field form-horizontal" 
	data-signal-error-for="add_user{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="add_user" data-fieldname="add_user" >

	<label class="r-edit-label control-label" for="{$labelfor_add_user}">
		{BEGIN add_user_label}{$label t_letter add_user }{END add_user_label}
	</label>
	<div class="r-edit-field">
		{$add_user_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="add_user">
		<div class="text-muted" >
		{$tooltip t_letter add_user }		</div>
	</div>
</div>


{END add_user_fieldblock}
	
								</td>
			{END cellblock_section_c}
								</tr>
	 
	 
														<tr {$row_section_1} >
										

{BEGIN cellblock_section_c9}
<td
	{$cell_section_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c9" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN m_category_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_m_category_id}  r-horizontal-field form-horizontal" 
	data-signal-error-for="m_category_id{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="m_category_id" data-fieldname="m_category_id" >

	<label class="r-edit-label control-label" for="{$labelfor_m_category_id}">
		{BEGIN m_category_id_label}{$label t_letter m_category_id }{END m_category_id_label}
	</label>
	<div class="r-edit-field">
		{$m_category_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="m_category_id">
		<div class="text-muted" >
		{$tooltip t_letter m_category_id }		</div>
	</div>
</div>


{END m_category_id_fieldblock}
	
								</td>
			{END cellblock_section_c9}
			 
																

{BEGIN cellblock_section_c10}
<td
	{$cell_section_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c10" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN m_type_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_m_type_id}  r-horizontal-field form-horizontal" 
	data-signal-error-for="m_type_id{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="m_type_id" data-fieldname="m_type_id" >

	<label class="r-edit-label control-label" for="{$labelfor_m_type_id}">
		{BEGIN m_type_id_label}{$label t_letter m_type_id }{END m_type_id_label}
	</label>
	<div class="r-edit-field">
		{$m_type_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="m_type_id">
		<div class="text-muted" >
		{$tooltip t_letter m_type_id }		</div>
	</div>
</div>


{END m_type_id_fieldblock}
	
								</td>
			{END cellblock_section_c10}
			 
																

{BEGIN cellblock_section_c11}
<td
	{$cell_section_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c11" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN m_template_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_m_template_id}  r-horizontal-field form-horizontal" 
	data-signal-error-for="m_template_id{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="m_template_id" data-fieldname="m_template_id" >

	<label class="r-edit-label control-label" for="{$labelfor_m_template_id}">
		{BEGIN m_template_id_label}{$label t_letter m_template_id }{END m_template_id_label}
	</label>
	<div class="r-edit-field">
		{$m_template_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="m_template_id">
		<div class="text-muted" >
		{$tooltip t_letter m_template_id }		</div>
	</div>
</div>


{END m_template_id_fieldblock}
	
								</td>
			{END cellblock_section_c11}
								</tr>
	 
	 
														<tr {$row_section_2} >
										

{BEGIN cellblock_section_c3}
<td
	{$cell_section_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c3" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN letter_language_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_letter_language}  r-horizontal-field form-horizontal" 
	data-signal-error-for="letter_language{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="letter_language" data-fieldname="letter_language" >

	<label class="r-edit-label control-label" for="{$labelfor_letter_language}">
		{BEGIN letter_language_label}{$label t_letter letter_language }{END letter_language_label}
	</label>
	<div class="r-edit-field">
		{$letter_language_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="letter_language">
		<div class="text-muted" >
		{$tooltip t_letter letter_language }		</div>
	</div>
</div>


{END letter_language_fieldblock}
	
								</td>
			{END cellblock_section_c3}
			 
																

{BEGIN cellblock_section_c4}
<td
	{$cell_section_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c4" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN letter_signature_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_letter_signature}  r-horizontal-field form-horizontal" 
	data-signal-error-for="letter_signature{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="letter_signature" data-fieldname="letter_signature" >

	<label class="r-edit-label control-label" for="{$labelfor_letter_signature}">
		{BEGIN letter_signature_label}{$label t_letter letter_signature }{END letter_signature_label}
	</label>
	<div class="r-edit-field">
		{$letter_signature_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="letter_signature">
		<div class="text-muted" >
		{$tooltip t_letter letter_signature }		</div>
	</div>
</div>


{END letter_signature_fieldblock}
	
								</td>
			{END cellblock_section_c4}
			 
																

{BEGIN cellblock_section_c5}
<td
	{$cell_section_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c5" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN letter_status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_letter_status}  r-horizontal-field form-horizontal" 
	data-signal-error-for="letter_status{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="letter_status" data-fieldname="letter_status" >

	<label class="r-edit-label control-label" for="{$labelfor_letter_status}">
		{BEGIN letter_status_label}{$label t_letter letter_status }{END letter_status_label}
	</label>
	<div class="r-edit-field">
		{$letter_status_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="letter_status">
		<div class="text-muted" >
		{$tooltip t_letter letter_status }		</div>
	</div>
</div>


{END letter_status_fieldblock}
	
								</td>
			{END cellblock_section_c5}
								</tr>
			</tbody></table>
{END section_block}
		  </div>
		</div>
	</div>
	
				 
	 
												 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section1" {$item_section1} data-pageid="{$pageid}" data-page="t_letter_add">
		<div class="panel-heading" role="tab" {$section_section2_headattrs} 
			data-toggle="collapse"  

				href="#section2{$pageid}" aria-expanded="true" aria-controls="section2"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Letter Form			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section2_xtrclass}" role="tabpanel"  {$section_section2_attrs}

				id="section2{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="leftbar" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_section1_0} >
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN letter_perihal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_letter_perihal}  r-horizontal-field form-horizontal" 
	data-signal-error-for="letter_perihal{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="letter_perihal" data-fieldname="letter_perihal" >

	<label class="r-edit-label control-label" for="{$labelfor_letter_perihal}">
		{BEGIN letter_perihal_label}{$label t_letter letter_perihal }{END letter_perihal_label}
	</label>
	<div class="r-edit-field">
		{$letter_perihal_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="letter_perihal">
		<div class="text-muted" >
		{$tooltip t_letter letter_perihal }		</div>
	</div>
</div>


{END letter_perihal_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
			 
																

{BEGIN cellblock_section1_c}
<td
	{$cell_section1_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN letter_kepada_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_letter_kepada}  r-horizontal-field form-horizontal" 
	data-signal-error-for="letter_kepada{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="letter_kepada" data-fieldname="letter_kepada" >

	<label class="r-edit-label control-label" for="{$labelfor_letter_kepada}">
		{BEGIN letter_kepada_label}{$label t_letter letter_kepada }{END letter_kepada_label}
	</label>
	<div class="r-edit-field">
		{$letter_kepada_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="letter_kepada">
		<div class="text-muted" >
		{$tooltip t_letter letter_kepada }		</div>
	</div>
</div>


{END letter_kepada_fieldblock}
	
								</td>
			{END cellblock_section1_c}
								</tr>
	 
	 
														<tr {$row_section1_1} >
										

{BEGIN cellblock_section1_c2}
<td
	{$cell_section1_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c2" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN letter_attn_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_letter_attn}  r-horizontal-field form-horizontal" 
	data-signal-error-for="letter_attn{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="letter_attn" data-fieldname="letter_attn" >

	<label class="r-edit-label control-label" for="{$labelfor_letter_attn}">
		{BEGIN letter_attn_label}{$label t_letter letter_attn }{END letter_attn_label}
	</label>
	<div class="r-edit-field">
		{$letter_attn_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="letter_attn">
		<div class="text-muted" >
		{$tooltip t_letter letter_attn }		</div>
	</div>
</div>


{END letter_attn_fieldblock}
	
								</td>
			{END cellblock_section1_c2}
			 
																

{BEGIN cellblock_section1_c3}
<td
	{$cell_section1_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c3" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN letter_alamat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_letter_alamat}  r-horizontal-field form-horizontal" 
	data-signal-error-for="letter_alamat{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="letter_alamat" data-fieldname="letter_alamat" >

	<label class="r-edit-label control-label" for="{$labelfor_letter_alamat}">
		{BEGIN letter_alamat_label}{$label t_letter letter_alamat }{END letter_alamat_label}
	</label>
	<div class="r-edit-field">
		{$letter_alamat_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="letter_alamat">
		<div class="text-muted" >
		{$tooltip t_letter letter_alamat }		</div>
	</div>
</div>


{END letter_alamat_fieldblock}
	
								</td>
			{END cellblock_section1_c3}
								</tr>
	 
	 
														<tr {$row_section1_2} >
										

{BEGIN cellblock_section1_c4}
<td
	{$cell_section1_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c4" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN letter_ttg_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_letter_ttg}  r-horizontal-field form-horizontal" 
	data-signal-error-for="letter_ttg{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="letter_ttg" data-fieldname="letter_ttg" >

	<label class="r-edit-label control-label" for="{$labelfor_letter_ttg}">
		{BEGIN letter_ttg_label}{$label t_letter letter_ttg }{END letter_ttg_label}
	</label>
	<div class="r-edit-field">
		{$letter_ttg_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="letter_ttg">
		<div class="text-muted" >
		{$tooltip t_letter letter_ttg }		</div>
	</div>
</div>


{END letter_ttg_fieldblock}
	
								</td>
			{END cellblock_section1_c4}
			 
																

{BEGIN cellblock_section1_c5}
<td
	{$cell_section1_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c5" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN letter_ttgjwb_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_letter_ttgjwb}  r-horizontal-field form-horizontal" 
	data-signal-error-for="letter_ttgjwb{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="letter_ttgjwb" data-fieldname="letter_ttgjwb" >

	<label class="r-edit-label control-label" for="{$labelfor_letter_ttgjwb}">
		{BEGIN letter_ttgjwb_label}{$label t_letter letter_ttgjwb }{END letter_ttgjwb_label}
	</label>
	<div class="r-edit-field">
		{$letter_ttgjwb_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="letter_ttgjwb">
		<div class="text-muted" >
		{$tooltip t_letter letter_ttgjwb }		</div>
	</div>
</div>


{END letter_ttgjwb_fieldblock}
	
								</td>
			{END cellblock_section1_c5}
								</tr>
			</tbody></table>
{END section1_block}
		  </div>
		</div>
	</div>
	
				{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
					<span class="fa fa-save"></span>
							Save			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
					<span class="fa fa-refresh"></span>
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
					<span class="fa fa-th-list"></span>
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
					<span class="glyphicon glyphicon-repeat"></span>
							Cancel			</a>
</span>
{END cancel_button}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
