<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-print" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel t_register_view print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" class=" table table-condensed table-striped table-hover table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_id_class}	"

			data-field="t_register_id"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_id_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_id" data-fieldname="t_register_id">
	{$label t_register_view t_register_id }	</span>
{END t_register_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_id_x_class}	"

			data-field="t_register_id_x"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_id_x_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field32" {$item_simple_grid_field32} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_id_x" data-fieldname="t_register_id_x">
	{$label t_register_view t_register_id_x }	</span>
{END t_register_id_x_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_no_class}	"

			data-field="t_register_no"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_no_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field33" {$item_simple_grid_field33} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_no" data-fieldname="t_register_no">
	{$label t_register_view t_register_no }	</span>
{END t_register_no_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_date_class}	"

			data-field="t_register_date"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_date_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field34" {$item_simple_grid_field34} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_date" data-fieldname="t_register_date">
	{$label t_register_view t_register_date }	</span>
{END t_register_date_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_source_class}	"

			data-field="t_register_source"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_source_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field35" {$item_simple_grid_field35} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_source" data-fieldname="t_register_source">
	{$label t_register_view t_register_source }	</span>
{END t_register_source_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_location_id_class}	"

			data-field="t_register_location_id"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_location_id_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field36" {$item_simple_grid_field36} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_location_id" data-fieldname="t_register_location_id">
	{$label t_register_view t_register_location_id }	</span>
{END t_register_location_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_transfer_fl_class}	"

			data-field="t_register_transfer_fl"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_transfer_fl_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field37" {$item_simple_grid_field37} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_transfer_fl" data-fieldname="t_register_transfer_fl">
	{$label t_register_view t_register_transfer_fl }	</span>
{END t_register_transfer_fl_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_transfer_location_id_class}	"

			data-field="t_register_transfer_location_id"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_transfer_location_id_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field38" {$item_simple_grid_field38} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_transfer_location_id" data-fieldname="t_register_transfer_location_id">
	{$label t_register_view t_register_transfer_location_id }	</span>
{END t_register_transfer_location_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_transfer_date_class}	"

			data-field="t_register_transfer_date"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_transfer_date_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field39" {$item_simple_grid_field39} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_transfer_date" data-fieldname="t_register_transfer_date">
	{$label t_register_view t_register_transfer_date }	</span>
{END t_register_transfer_date_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_transfer_courier_class}	"

			data-field="t_register_transfer_courier"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_transfer_courier_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field40" {$item_simple_grid_field40} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_transfer_courier" data-fieldname="t_register_transfer_courier">
	{$label t_register_view t_register_transfer_courier }	</span>
{END t_register_transfer_courier_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
									{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_doc_from_class}	"

			data-field="t_register_doc_from"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_doc_from_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field41" {$item_simple_grid_field41} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_doc_from" data-fieldname="t_register_doc_from">
	{$label t_register_view t_register_doc_from }	</span>
{END t_register_doc_from_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
									{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_doc_owner_class}	"

			data-field="t_register_doc_owner"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_doc_owner_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field42" {$item_simple_grid_field42} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_doc_owner" data-fieldname="t_register_doc_owner">
	{$label t_register_view t_register_doc_owner }	</span>
{END t_register_doc_owner_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
									{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_images_class}	"

			data-field="t_register_images"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_images_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field43" {$item_simple_grid_field43} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_images" data-fieldname="t_register_images">
	{$label t_register_view t_register_images }	</span>
{END t_register_images_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
									{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_note_class}	"

			data-field="t_register_note"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_note_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field44" {$item_simple_grid_field44} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_note" data-fieldname="t_register_note">
	{$label t_register_view t_register_note }	</span>
{END t_register_note_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
									{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_status_class}	"

			data-field="t_register_status"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_status_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field45" {$item_simple_grid_field45} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_status" data-fieldname="t_register_status">
	{$label t_register_view t_register_status }	</span>
{END t_register_status_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
									{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_user_class}	"

			data-field="add_user"
	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN add_user_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field46" {$item_simple_grid_field46} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="add_user" data-fieldname="add_user">
	{$label t_register_view add_user }	</span>
{END add_user_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field15}
									{BEGIN cellblock_grid_headcell_field16}
	<th
	
	{$cell_grid_headcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_date_class}	"

			data-field="add_date"
	
	data-cellId="grid_headcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN add_date_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field47" {$item_simple_grid_field47} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="add_date" data-fieldname="add_date">
	{$label t_register_view add_date }	</span>
{END add_date_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field16}
									{BEGIN cellblock_grid_headcell_field17}
	<th
	
	{$cell_grid_headcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$edit_user_class}	"

			data-field="edit_user"
	
	data-cellId="grid_headcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN edit_user_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field48" {$item_simple_grid_field48} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="edit_user" data-fieldname="edit_user">
	{$label t_register_view edit_user }	</span>
{END edit_user_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field17}
									{BEGIN cellblock_grid_headcell_field18}
	<th
	
	{$cell_grid_headcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$edit_date_class}	"

			data-field="edit_date"
	
	data-cellId="grid_headcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN edit_date_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field49" {$item_simple_grid_field49} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="edit_date" data-fieldname="edit_date">
	{$label t_register_view edit_date }	</span>
{END edit_date_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field18}
									{BEGIN cellblock_grid_headcell_field19}
	<th
	
	{$cell_grid_headcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nomor_class}	"

			data-field="nomor"
	
	data-cellId="grid_headcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nomor_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field50" {$item_simple_grid_field50} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nomor" data-fieldname="nomor">
	{$label t_register_view nomor }	</span>
{END nomor_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field19}
									{BEGIN cellblock_grid_headcell_field20}
	<th
	
	{$cell_grid_headcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$digit_class}	"

			data-field="digit"
	
	data-cellId="grid_headcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN digit_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field51" {$item_simple_grid_field51} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="digit" data-fieldname="digit">
	{$label t_register_view digit }	</span>
{END digit_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field20}
									{BEGIN cellblock_grid_headcell_field21}
	<th
	
	{$cell_grid_headcell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_doc_user_class}	"

			data-field="t_register_doc_user"
	
	data-cellId="grid_headcell_field21" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_doc_user_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field52" {$item_simple_grid_field52} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_doc_user" data-fieldname="t_register_doc_user">
	{$label t_register_view t_register_doc_user }	</span>
{END t_register_doc_user_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field21}
									{BEGIN cellblock_grid_headcell_field22}
	<th
	
	{$cell_grid_headcell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_sign_user_class}	"

			data-field="add_sign_user"
	
	data-cellId="grid_headcell_field22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN add_sign_user_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field53" {$item_simple_grid_field53} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="add_sign_user" data-fieldname="add_sign_user">
	{$label t_register_view add_sign_user }	</span>
{END add_sign_user_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field22}
									{BEGIN cellblock_grid_headcell_field23}
	<th
	
	{$cell_grid_headcell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_sign_date_class}	"

			data-field="add_sign_date"
	
	data-cellId="grid_headcell_field23" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN add_sign_date_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field54" {$item_simple_grid_field54} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="add_sign_date" data-fieldname="add_sign_date">
	{$label t_register_view add_sign_date }	</span>
{END add_sign_date_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field23}
									{BEGIN cellblock_grid_headcell_field24}
	<th
	
	{$cell_grid_headcell_field24}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_sign_fl_class}	"

			data-field="add_sign_fl"
	
	data-cellId="grid_headcell_field24" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN add_sign_fl_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field55" {$item_simple_grid_field55} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="add_sign_fl" data-fieldname="add_sign_fl">
	{$label t_register_view add_sign_fl }	</span>
{END add_sign_fl_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field24}
									{BEGIN cellblock_grid_headcell_field25}
	<th
	
	{$cell_grid_headcell_field25}
	{$recordattrs}
	class="
		 r-ori-vert		 {$last_user_class}	"

			data-field="last_user"
	
	data-cellId="grid_headcell_field25" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN last_user_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field56" {$item_simple_grid_field56} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="last_user" data-fieldname="last_user">
	{$label t_register_view last_user }	</span>
{END last_user_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field25}
									{BEGIN cellblock_grid_headcell_field26}
	<th
	
	{$cell_grid_headcell_field26}
	{$recordattrs}
	class="
		 r-ori-vert		 {$last_date_class}	"

			data-field="last_date"
	
	data-cellId="grid_headcell_field26" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN last_date_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field57" {$item_simple_grid_field57} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="last_date" data-fieldname="last_date">
	{$label t_register_view last_date }	</span>
{END last_date_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field26}
									{BEGIN cellblock_grid_headcell_field27}
	<th
	
	{$cell_grid_headcell_field27}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_feedback_date_class}	"

			data-field="t_register_feedback_date"
	
	data-cellId="grid_headcell_field27" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_feedback_date_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field58" {$item_simple_grid_field58} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_feedback_date" data-fieldname="t_register_feedback_date">
	{$label t_register_view t_register_feedback_date }	</span>
{END t_register_feedback_date_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field27}
									{BEGIN cellblock_grid_headcell_field28}
	<th
	
	{$cell_grid_headcell_field28}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_feedback_time_class}	"

			data-field="t_register_feedback_time"
	
	data-cellId="grid_headcell_field28" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_feedback_time_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field59" {$item_simple_grid_field59} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_feedback_time" data-fieldname="t_register_feedback_time">
	{$label t_register_view t_register_feedback_time }	</span>
{END t_register_feedback_time_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field28}
									{BEGIN cellblock_grid_headcell_field29}
	<th
	
	{$cell_grid_headcell_field29}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_feedback_signature_class}	"

			data-field="t_register_feedback_signature"
	
	data-cellId="grid_headcell_field29" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_feedback_signature_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field60" {$item_simple_grid_field60} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_feedback_signature" data-fieldname="t_register_feedback_signature">
	{$label t_register_view t_register_feedback_signature }	</span>
{END t_register_feedback_signature_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field29}
									{BEGIN cellblock_grid_headcell_field30}
	<th
	
	{$cell_grid_headcell_field30}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_feedback_takephoto_class}	"

			data-field="t_register_feedback_takephoto"
	
	data-cellId="grid_headcell_field30" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_feedback_takephoto_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field61" {$item_simple_grid_field61} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_feedback_takephoto" data-fieldname="t_register_feedback_takephoto">
	{$label t_register_view t_register_feedback_takephoto }	</span>
{END t_register_feedback_takephoto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field30}
							</tr>
															
					{END grid_header}
			</thead>
															{BEGIN grid_row}
					<tbody>
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_id_class}	"

			data-field="t_register_id"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_id" data-fieldname="t_register_id" data-default-width >
{$t_register_id_value}
</span>
{END t_register_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_id_x_class}	"

			data-field="t_register_id_x"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_id_x_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_id_x" data-fieldname="t_register_id_x" data-default-width >
{$t_register_id_x_value}
</span>
{END t_register_id_x_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_no_class}	"

			data-field="t_register_no"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_no_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_no" data-fieldname="t_register_no" data-default-width >
{$t_register_no_value}
</span>
{END t_register_no_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_date_class}	"

			data-field="t_register_date"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_date" data-fieldname="t_register_date" data-default-width >
{$t_register_date_value}
</span>
{END t_register_date_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_source_class}	"

			data-field="t_register_source"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_source_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_source" data-fieldname="t_register_source" data-default-width >
{$t_register_source_value}
</span>
{END t_register_source_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_location_id_class}	"

			data-field="t_register_location_id"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_location_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_location_id" data-fieldname="t_register_location_id" data-default-width >
{$t_register_location_id_value}
</span>
{END t_register_location_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_transfer_fl_class}	"

			data-field="t_register_transfer_fl"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_transfer_fl_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_transfer_fl" data-fieldname="t_register_transfer_fl" data-default-width >
{$t_register_transfer_fl_value}
</span>
{END t_register_transfer_fl_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_transfer_location_id_class}	"

			data-field="t_register_transfer_location_id"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_transfer_location_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_transfer_location_id" data-fieldname="t_register_transfer_location_id" data-default-width >
{$t_register_transfer_location_id_value}
</span>
{END t_register_transfer_location_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_transfer_date_class}	"

			data-field="t_register_transfer_date"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_transfer_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_transfer_date" data-fieldname="t_register_transfer_date" data-default-width >
{$t_register_transfer_date_value}
</span>
{END t_register_transfer_date_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_transfer_courier_class}	"

			data-field="t_register_transfer_courier"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_transfer_courier_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_transfer_courier" data-fieldname="t_register_transfer_courier" data-default-width >
{$t_register_transfer_courier_value}
</span>
{END t_register_transfer_courier_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
									{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_doc_from_class}	"

			data-field="t_register_doc_from"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_doc_from_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_doc_from" data-fieldname="t_register_doc_from" data-default-width >
{$t_register_doc_from_value}
</span>
{END t_register_doc_from_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
									{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_doc_owner_class}	"

			data-field="t_register_doc_owner"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_doc_owner_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_doc_owner" data-fieldname="t_register_doc_owner" data-default-width >
{$t_register_doc_owner_value}
</span>
{END t_register_doc_owner_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
									{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_images_class}	"

			data-field="t_register_images"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_images_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_images" data-fieldname="t_register_images" data-default-width >
{$t_register_images_value}
</span>
{END t_register_images_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
									{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_note_class}	"

			data-field="t_register_note"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_note_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_note" data-fieldname="t_register_note" data-default-width >
{$t_register_note_value}
</span>
{END t_register_note_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
									{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_status_class}	"

			data-field="t_register_status"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_status_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_status" data-fieldname="t_register_status" data-default-width >
{$t_register_status_value}
</span>
{END t_register_status_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
									{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_user_class}	"

			data-field="add_user"
	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN add_user_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="add_user" data-fieldname="add_user" data-default-width >
{$add_user_value}
</span>
{END add_user_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field15}
									{BEGIN cellblock_grid_cell_field16}
	<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_date_class}	"

			data-field="add_date"
	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN add_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="add_date" data-fieldname="add_date" data-default-width >
{$add_date_value}
</span>
{END add_date_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field16}
									{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$edit_user_class}	"

			data-field="edit_user"
	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN edit_user_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="edit_user" data-fieldname="edit_user" data-default-width >
{$edit_user_value}
</span>
{END edit_user_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field17}
									{BEGIN cellblock_grid_cell_field18}
	<td
	
	{$cell_grid_cell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$edit_date_class}	"

			data-field="edit_date"
	
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN edit_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="edit_date" data-fieldname="edit_date" data-default-width >
{$edit_date_value}
</span>
{END edit_date_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field18}
									{BEGIN cellblock_grid_cell_field19}
	<td
	
	{$cell_grid_cell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nomor_class}	"

			data-field="nomor"
	
	data-cellId="grid_cell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nomor_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nomor" data-fieldname="nomor" data-default-width >
{$nomor_value}
</span>
{END nomor_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field19}
									{BEGIN cellblock_grid_cell_field20}
	<td
	
	{$cell_grid_cell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$digit_class}	"

			data-field="digit"
	
	data-cellId="grid_cell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN digit_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="digit" data-fieldname="digit" data-default-width >
{$digit_value}
</span>
{END digit_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field20}
									{BEGIN cellblock_grid_cell_field21}
	<td
	
	{$cell_grid_cell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_doc_user_class}	"

			data-field="t_register_doc_user"
	
	data-cellId="grid_cell_field21" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_doc_user_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_doc_user" data-fieldname="t_register_doc_user" data-default-width >
{$t_register_doc_user_value}
</span>
{END t_register_doc_user_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field21}
									{BEGIN cellblock_grid_cell_field22}
	<td
	
	{$cell_grid_cell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_sign_user_class}	"

			data-field="add_sign_user"
	
	data-cellId="grid_cell_field22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN add_sign_user_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="add_sign_user" data-fieldname="add_sign_user" data-default-width >
{$add_sign_user_value}
</span>
{END add_sign_user_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field22}
									{BEGIN cellblock_grid_cell_field23}
	<td
	
	{$cell_grid_cell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_sign_date_class}	"

			data-field="add_sign_date"
	
	data-cellId="grid_cell_field23" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN add_sign_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="add_sign_date" data-fieldname="add_sign_date" data-default-width >
{$add_sign_date_value}
</span>
{END add_sign_date_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field23}
									{BEGIN cellblock_grid_cell_field24}
	<td
	
	{$cell_grid_cell_field24}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_sign_fl_class}	"

			data-field="add_sign_fl"
	
	data-cellId="grid_cell_field24" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN add_sign_fl_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="add_sign_fl" data-fieldname="add_sign_fl" data-default-width >
{$add_sign_fl_value}
</span>
{END add_sign_fl_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field24}
									{BEGIN cellblock_grid_cell_field25}
	<td
	
	{$cell_grid_cell_field25}
	{$recordattrs}
	class="
		 r-ori-vert		 {$last_user_class}	"

			data-field="last_user"
	
	data-cellId="grid_cell_field25" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN last_user_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="last_user" data-fieldname="last_user" data-default-width >
{$last_user_value}
</span>
{END last_user_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field25}
									{BEGIN cellblock_grid_cell_field26}
	<td
	
	{$cell_grid_cell_field26}
	{$recordattrs}
	class="
		 r-ori-vert		 {$last_date_class}	"

			data-field="last_date"
	
	data-cellId="grid_cell_field26" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN last_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="last_date" data-fieldname="last_date" data-default-width >
{$last_date_value}
</span>
{END last_date_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field26}
									{BEGIN cellblock_grid_cell_field27}
	<td
	
	{$cell_grid_cell_field27}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_feedback_date_class}	"

			data-field="t_register_feedback_date"
	
	data-cellId="grid_cell_field27" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_feedback_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_feedback_date" data-fieldname="t_register_feedback_date" data-default-width >
{$t_register_feedback_date_value}
</span>
{END t_register_feedback_date_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field27}
									{BEGIN cellblock_grid_cell_field28}
	<td
	
	{$cell_grid_cell_field28}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_feedback_time_class}	"

			data-field="t_register_feedback_time"
	
	data-cellId="grid_cell_field28" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_feedback_time_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_feedback_time" data-fieldname="t_register_feedback_time" data-default-width >
{$t_register_feedback_time_value}
</span>
{END t_register_feedback_time_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field28}
									{BEGIN cellblock_grid_cell_field29}
	<td
	
	{$cell_grid_cell_field29}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_feedback_signature_class}	"

			data-field="t_register_feedback_signature"
	
	data-cellId="grid_cell_field29" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_feedback_signature_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_feedback_signature" data-fieldname="t_register_feedback_signature" data-default-width >
{$t_register_feedback_signature_value}
</span>
{END t_register_feedback_signature_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field29}
									{BEGIN cellblock_grid_cell_field30}
	<td
	
	{$cell_grid_cell_field30}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_feedback_takephoto_class}	"

			data-field="t_register_feedback_takephoto"
	
	data-cellId="grid_cell_field30" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN t_register_feedback_takephoto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="t_register_feedback_takephoto" data-fieldname="t_register_feedback_takephoto" data-default-width >
{$t_register_feedback_takephoto_value}
</span>
{END t_register_feedback_takephoto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field30}
							</tr>
										
											</tbody>
					{END grid_row}
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_id_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_id_x_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_no_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_date_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_source_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_location_id_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_transfer_fl_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_transfer_location_id_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_transfer_date_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_transfer_courier_class}	"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
									{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_doc_from_class}	"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
									{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_doc_owner_class}	"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
									{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_images_class}	"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
									{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_note_class}	"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
									{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_status_class}	"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
									{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_user_class}	"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
									{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_date_class}	"

	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field16}
									{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$edit_user_class}	"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
									{BEGIN cellblock_grid_footcell_field18}
	<td
	
	{$cell_grid_footcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$edit_date_class}	"

	
	data-cellId="grid_footcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field18}
									{BEGIN cellblock_grid_footcell_field19}
	<td
	
	{$cell_grid_footcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nomor_class}	"

	
	data-cellId="grid_footcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field19}
									{BEGIN cellblock_grid_footcell_field20}
	<td
	
	{$cell_grid_footcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$digit_class}	"

	
	data-cellId="grid_footcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field20}
									{BEGIN cellblock_grid_footcell_field21}
	<td
	
	{$cell_grid_footcell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_doc_user_class}	"

	
	data-cellId="grid_footcell_field21" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field21}
									{BEGIN cellblock_grid_footcell_field22}
	<td
	
	{$cell_grid_footcell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_sign_user_class}	"

	
	data-cellId="grid_footcell_field22" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field22}
									{BEGIN cellblock_grid_footcell_field23}
	<td
	
	{$cell_grid_footcell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_sign_date_class}	"

	
	data-cellId="grid_footcell_field23" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field23}
									{BEGIN cellblock_grid_footcell_field24}
	<td
	
	{$cell_grid_footcell_field24}
	{$recordattrs}
	class="
		 r-ori-vert		 {$add_sign_fl_class}	"

	
	data-cellId="grid_footcell_field24" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field24}
									{BEGIN cellblock_grid_footcell_field25}
	<td
	
	{$cell_grid_footcell_field25}
	{$recordattrs}
	class="
		 r-ori-vert		 {$last_user_class}	"

	
	data-cellId="grid_footcell_field25" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field25}
									{BEGIN cellblock_grid_footcell_field26}
	<td
	
	{$cell_grid_footcell_field26}
	{$recordattrs}
	class="
		 r-ori-vert		 {$last_date_class}	"

	
	data-cellId="grid_footcell_field26" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field26}
									{BEGIN cellblock_grid_footcell_field27}
	<td
	
	{$cell_grid_footcell_field27}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_feedback_date_class}	"

	
	data-cellId="grid_footcell_field27" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field27}
									{BEGIN cellblock_grid_footcell_field28}
	<td
	
	{$cell_grid_footcell_field28}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_feedback_time_class}	"

	
	data-cellId="grid_footcell_field28" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field28}
									{BEGIN cellblock_grid_footcell_field29}
	<td
	
	{$cell_grid_footcell_field29}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_feedback_signature_class}	"

	
	data-cellId="grid_footcell_field29" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field29}
									{BEGIN cellblock_grid_footcell_field30}
	<td
	
	{$cell_grid_footcell_field30}
	{$recordattrs}
	class="
		 r-ori-vert		 {$t_register_feedback_takephoto_class}	"

	
	data-cellId="grid_footcell_field30" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="t_register_view_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field30}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
